<!-- TABLE CONTAINER -->
<div class="container">
    <table class="table table-striped table-bordered table-hover text-center">
        <thead>
            <th>Автор</th>
            <th>Книги в наявності</th>
            <th></th>
        </thead>
        <tbody></tbody>
    </table>
</div>
<!-- /TABLE CONTAINER -->

<!-- DETAILS CONTAINER -->
<div class="container mt-4 p-5 d-none author-details">
    <h3>Детальна інформація</h3>
    <p><strong>Автор:</strong> <span id="author-name"></span></p>
    <p><strong>Рік народження:</strong> <span id="author-birthyear"></span></p>
    <p><strong>Книги:</strong></p>
    <ul id="author-books"></ul>
    <button class="btn btn-sm btn-primary m-1 add-book">Додати книгу</button>
    <button class="btn btn-sm btn-primary m-1 edit-book">Редагувати книгу</button>
    <button class="btn btn-sm btn-primary m-1 delete-book">Видалити книгу</button>
    <button class="btn btn-sm btn-primary m-1 btn-hide">Заховати деталі</button>
</div>
<!-- /DETAILS CONTAINER -->